.wrapper {
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.underdevelopment {
  padding: 2rem;
  background-color: black;
  color: white;
  max-width: 800px;
  height: fit-content;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  box-sizing: border-box;
}